@import "map.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Scrollbar personnalisée 
webkit scrollbar 
*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1; 
    border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8; 
}
